<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://www.musicstores.in/modules/ps_imageslider/images/af190cd83ff8b9144aa588cdec87660391f67c51_pexels-photo-995301.jpeg" class="d-block w-100" alt="Drums">
    <p>Drums</p>  
    </div>
    <div class="carousel-item">
      <img src="https://www.musicstores.in/modules/ps_imageslider/images/d857fd220adbca1ea3083837974401e7398081be_pexels-photo-625788.jpeg" class="d-block w-100" alt="...">
      <p>Guitar</p>   
  </div>
      <div class="carousel-item">
        <img src="https://www.musicstores.in/modules/ps_imageslider/images/9d763c0b8351057dca352cfc564408037fe52e6f_cantini.jpg" class="d-block w-100" alt="...">
        <p>Violin</p>   
    </div>
      <div class="carousel-item">
        <img src="https://www.musicstores.in/modules/ps_imageslider/images/d8c5d358b1d6ec353b54b9fd19e4ea886dbf2fbf_keyboard-resized.jpg" class="d-block w-100" alt="...">
    <p>Keyboard</p> 
    </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button> 
  
  <div class="row">
    <div class="col-sm-3">
      <div class="card">
        <div class="card-body" style="color:white; background-color: brown;">
          <h5 class="card-title">FREE SHIPPING & RETURN</h5>
          <p class="card-text">Free Shipping on all order over ₹1,500</p>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card" >
        <div class="card-body"style="color:white; background-color: brown;">
          <h5 class="card-title">TRUSTED MUSIC STORE</h5>
          <p class="card-text">Trusted by over million of customers from India and abroad.</p>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card">
        <div class="card-body"style="color:white; background-color: brown;">
          <h5 class="card-title">PROTECTED PAYMENTS</h5>
          <p class="card-text">100% Payment Protection. Easy Return Policy</p>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card">
        <div class="card-body"style="color:white; background-color: brown;">
          <h5 class="card-title">ON-DEMAND SUPPORT</h5>
          <p class="card-text">Got a question? Please call us on any time.</p>
        </div>
      </div>
    </div>
  </div>


  <div class="container mt-3">
    <h2 style="color:brown">Popular Brands</h2>      
    <table class="table table-light table-hover" style="color: brown">
      <thead>
        <tr>
          <th>S.No</th>
          <th>Brands</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>Casio</td>
        </tr>
        <tr>
          <td>2</td>
          <td>Dunlop</td>
        </tr>
        <tr>
          <td>3</td>
          <td>JBL</td>
        </tr>
        <tr>
          <td>4</td>
          <td>Yamaha</td>
        </tr>
        <tr>
          <td>5</td>
          <td>Samson</td>
        </tr>
        <tr>
          <td>6</td>
          <td>Kepma</td>
        </tr>
        
      </tbody>
    </table>
  </div>
  
  
