<h2 style="margin-left:550px;"><b>Various Keyboards</b></h2>
<br>
<div class="row row-cols-1 row-cols-md-3 g-4" style="margin-left: 120px; margin-right: 50px;  width: 1000px; ">
    <div class="col" *ngFor="let prod of keyboard" [ngSwitch]="prod.status">
        
        <div class="card h-100">
            <span (click)="showproductDetailsToggle()" [ngClass]="toggleContent()"></span>
            <img src="{{prod.image}}" class="card-img-top" alt="..." height="320px">
            <div class="card-body" >
                <h5>{{prod.pname}}</h5>
                    <p [style.padding-left.px]="'05'" *ngSwitchCase="'In Stock'" class="text-success">{{prod.status}}</p>
                    <p [style.padding-left.px]="'05'" *ngSwitchCase="'Out of Stock'" class="text-danger">{{prod.status}}</p>
                    <br>
                    <app-counter></app-counter>
                <div [hidden]="productDetail">
                    <b>Product ID:</b>{{prod.pid}}
                    <br>
                    <b>Price: </b>{{prod.price|currency:'INR'}}
                </div>
            </div>
        </div>
    </div>
