<div class="row">
    <div class="col-sm-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">10 DAYS MONEY BACK - GUARANTEE</h5>
          <p class="card-text">It's ok to change your mind!
             Music Stores provide a hassle-free return policy. Please refer to our return policy.</p>
          <a href="https://www.musicstores.in/content/1-delivery" class="btn btn-primary">View policies</a>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">PACKING SAFETY</h5>
          <p class="card-text">We take utmost care to pack your gear. 
            As we are musicians and selling musical instruments for a decade we know how important it is.</p>
        
        </div>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">GEAR EXPERT SUPPORT</h5>
          <p class="card-text">You have no idea about which instrument to buy? 
            Do not worry call our experts and they can help you in shortlisting the instrument.</p>
          
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Best Musical Items</h5>
          <p class="card-text">We can guarantee that you cannot find the quality that we are offering anywhere!</p>
          
        </div>
      </div>
    </div>
  </div>
<app-contact></app-contact>