<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#" style="color:brown;">{{title}}</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" ><button style="background-color:brown; color: white;" type="button" routerLink="home">HOME</button></a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" ><button style="background-color: brown; color: white;"type="button" routerLink="register">SignUp</button></a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" ><button style="background-color: brown; color: white;"type="button" routerLink="deals" *ngIf="auth">Our Products</button></a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" ><button style="background-color: brown; color: white;"type="button" routerLink="products" *ngIf="auth">View products</button></a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" ><button style="background-color: brown; color: white;"type="button" routerLink="cards" *ngIf="auth">Contact & Info</button></a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="background-color: brown; color: white;" *ngIf="auth">
              Instruments
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" routerLink="guitarcards">Guitar</a></li>
              <li><a class="dropdown-item" routerLink="violincards">Violin</a></li>
              <li><a class="dropdown-item" routerLink="keyboard">Keyboard</a></li>
              <li><a class="dropdown-item" routerLink="drums">Drums</a></li>
              <li><a class="dropdown-item" routerLink="allproducts">All Products</a></li>
            </ul>
          </li>
        </ul>
        <form class="d-flex">
           

            <button routerLink='cartitem' style="height:5px;border:none;" *ngIf="auth">
              <span class="fa fa-cart-plus" style="font-size:16px;color:black"><sup class="text-warning" style="font-size:10px;margin-left: 3px;;">{{cartCount}}</sup></span>
            </button> &nbsp;&nbsp;&nbsp;
            
            <a class="btn btn-outline-warning" type="submit" style="border-radius:10px;" routerLink="login" *ngIf="auth">Logout</a>
          </form>
      </div>
    </div>
</nav>




  