<form action="">
    <fieldset style="margin-left:500px;margin-right:500px;background-color:lightblue;color: blue;border-radius: 10px;border-style:inset;border-color: brown;box-shadow: 10px 20px 5px black;">
        <legend style="color:green">Enter the details</legend>
        <br>
        <label style="color:black">USER NAME</label><br>
        <input type="text" name="username" required><br>
        <br>
        <br>
        <label style="color:black">PASSWORD</label><br>
        <input type="password" name="password" required><br>

